.FAQs {
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: $purple;
    color: $white;
    padding: 3.5em 5em 10em 13em !important;
    min-height: auto;
    height: fit-content;
    .faq-header-and-image {
        width: 25%;
        display: flex;
        flex-direction: column;
        .faq-image {
            border-radius: 0em 1em 1em 0em;
            padding-top: 4.75em;
            position: absolute;
            display: block;
            left: 0;
            top: 25;
        }   
    }
    .faq-content {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        h2 {
            color: $pink;
            font-family: $main-typeface, sans-serif;
            font-size: 5.75em;
            font-style: normal;
            font-weight: 700;
            line-height: .75em; /* 93.966% */
            letter-spacing: -.01em;
            text-transform: uppercase;
            padding-bottom: 0;
            margin-top: 1.5em;
            margin-bottom: .15em;
            text-align: left;
        }
    }

}

@media only screen and (max-width: $md) and (min-width: $sm) {
.FAQs {
    display: flex;
    flex-direction: column;
    padding: .5em 0em !important;

    .faq-image {
        float: left;
        width: 80%;
        margin-left: -1.5em;
        padding-top: 3em;
    }
    .faq-content {
        width: 100%;
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 2em 1em 2em 1em;
        h2 {
            color: $pink;
            font-family: $main-typeface, sans-serif;
            font-size: 3.75em;
            font-style: normal;
            font-weight: 700;
            line-height: .75em; /* 93.966% */
            letter-spacing: -.01em;
            text-transform: uppercase;
            padding-bottom: 0;
            margin-bottom: .75em;
            text-align: left;
            margin-top: .75em;
        }
    }
    .faq-content-header {
        h4 {
            width: 9em;
            line-height: 1em;
            margin-bottom: .5em;
            .faq-topic-header {
                font-size: .75em !important;
            }
        }

    }

    .faq-q-and-a {
        width: 22.5rem;
        text-wrap: balance;
    }

    .accordian-arrow {
        margin-right: .4em;
    }
}
}

@media only screen and (max-width: $sm) and (min-width: $xs) {
    .FAQs {
        display: flex;
        flex-direction: column;
        padding: .25em 0em !important;
    
        .faq-image {
            float: left;
            width: 80%;
            margin-left: -1.5em;
            padding-top: 3em;
        }
        .faq-content {
            width: 100%;
            min-width: fit-content;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 2em 1em 2em 1em;
            h2 {
                color: $pink;
                font-family: $main-typeface, sans-serif;
                font-size: 2.75em;
                font-style: normal;
                font-weight: 700;
                line-height: .75em; /* 93.966% */
                letter-spacing: -.01em;
                text-transform: uppercase;
                padding-bottom: 0;
                margin-bottom: .75em;
                text-align: left;
                margin-top: .75em;
            }
        }
        .faq-content-header {
            h4 {
                width: 5.25em;
                line-height: 1em;
                margin-bottom: .5em;
                .faq-topic-header {
                    font-size: .65em !important;
                }
            }
    
        }
    
        .faq-q-and-a {
            width: 13.2rem;
            text-wrap: balance;
            .faq-question {
                font-size: .85em;
            }
        }
    
        .accordian-arrow {
            margin-right: .2em;
        }
    }
}