.FAQs {
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: $purple;
    color: $white;
    padding: 3.5em .5em 0em 13em;
    min-height: 140vh;
    .faq-header-and-image {
        width: 25%;
        display: flex;
        flex-direction: column;
        h2 {
            color: $pink;
            font-family: $main-typeface, sans-serif;
            font-size: 5.75em;
            font-style: normal;
            font-weight: 700;
            line-height: .75em; /* 93.966% */
            letter-spacing: -.01em;
            text-transform: uppercase;
            padding-bottom: 0;
            margin-bottom: .5em;
            text-align: left;
        }
        .faq-image {
            border-radius: 0em 1em 1em 0em;
            padding-top: 11.5em;
            position: absolute;
            display: block;
            left: 0;
            top: 20;
        }   
    }
    .faq-content {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 1.9em 10em;
    }

}