.Footer {
    background-color: $dark-teal;
    color: $white;
    padding: 3em 15em 5em 13em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden !important;
    .footer-content {
        .contact-info {
            font-family: $main-typeface, sans-serif;
            margin-bottom: 3em;
            .site-name {
                font-size: 1.50em;
                margin-bottom: .5em;
                font-weight: 300;
            }
            .contact {
                font-size: 1.15em;
                margin-top: 0;
                font-family: $secondary-typeface, sans serif;
                font-weight: 500;
            }
        }
        .mission-statement {
            margin-bottom: 7em;
            width: 65%;
            font-family: $secondary-typeface, sans-serif;
            font-style: italic;
            h5 {
                font-size: 1em;
                margin-bottom: .25em;
            }
            a {
                text-decoration: none;
                color: $pink;
            }
        }
        .organizational-info {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            .branding-images {
                img {
                    margin-right: 6em;
                }
            }
            .copyright {
                font-family: $secondary-typeface, sans serif;
                font-weight: 500;
                font-size: 1.15em;
                margin-bottom: 0;
            }
        }
    }
    a {
        text-decoration: none;
        color: $white;
    }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em 13em 0em 13em !important;
    overflow-y: hidden !important;
    .footer-content {
        align-items: center;
        text-align: center;
        .contact-info {
            text-wrap: nowrap;
            margin-bottom: 1.25em;
        }
        .copyright {
            font-family: $secondary-typeface;
            text-wrap: nowrap;
            a {
                color: $pink;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        .mission-statement {
            justify-content: center;
            margin-top: 1em;
            font-size: .75em;
            width: 100%;
        }
        .organizational-info {
            flex-direction: column;
            padding: .5em 2em;
            .branding-images {
                img {
                    margin: 1.5em;
                }
            }
        }
    }
}
}