@media only screen and (min-width: $xxxl) {
    .Hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8em 5em 4em 10em !important;
        
        .hero-main-content {
            margin: 0 auto;
            width: 50% !important;
            h1 {
                font-size: 7em !important;
                margin-top: 0;
            }
            h2 {
                font-size: 1.75em;
            }
        }
        .hero-image {
            padding: 0 !important;
            img {
                position: relative !important;
                height: 87% !important;
                width: auto !important;
                border-radius: 1em !important;
            }
        }
    }
}

.Hero {
    background-color: $dark-teal;
    padding: 3em .5em 10em 10em;
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 100svw;
    h1 {
        color: $pink;
        font-family: $main-typeface, sans-serif;
        font-size: 8em;
        font-style: normal;
        font-weight: 700;
        line-height: 1em;
        letter-spacing: -.01em;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: .4em;
    }

    h2 {
        color: $white;
        font-family: $main-typeface, sans-serif;
        font-size: 2.25em;
        text-wrap: nowrap;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 109.091% */
        letter-spacing: 0.66px;
        text-transform: uppercase;
        padding-top: 1em;
    }


    button {
        background-color: transparent;
        display: inline-flex;
        padding: .85em 1.25em .95em 1.25em;
        justify-content: center;
        position: relative;
        align-items: center;
        border-radius: 1.6em;
        border: 2px solid $pink;
        box-shadow: .2em .2em 0em 0em $pink;
        color: $white;
        width: fit-content;
        text-transform: uppercase;
        line-height: .9em; /* 93.966% */
        letter-spacing: -.001em;
        font-family: $main-typeface, sans-serif;
        font-weight: 300;
        font-size: 1.25em;
        margin-top: 1.65em;
        a {
            width: fit-content;
            color: $white;
            text-decoration: none;
            span {
                margin: 0em 0em 0em .5em;
                position: relative;
                height: auto;
            }
        }

        a:visited {
            text-decoration: none;
        }
    }

    button:hover {
        cursor: pointer;
        box-shadow: none;
        top: .2em;
        left: .2em;

    }

    .attention-getter {
        box-shadow: none;
        top: .2em;
        left: .2em;
    }

    .hero-main-content {
        display: flex;
        flex-direction: column;
    }
    
    .hero-image {
        padding-top: 4em;
        img {
            position: absolute;
            right: 0;
            height: 80%;
            width: 40%;
            object-fit: cover;
            border-radius: 1em 0 0 1em;
        }
    }
}

@media only screen and (max-width: $xl) and (min-width: $lg) {
    .Hero {
        padding: 4em;
        margin: 0 auto;
        h1 {
            font-size: 4.25em;
        }
        h2 {
            font-size: 1.75em;
        }
        .hero-image {
            width: 150%;
            height: 50%;
            object-fit: cover;
            border-radius: 1em;
            padding-top: 0em;
            margin-top: 2em;
            border-radius: 1em 0 0 1em;
        }
    }
}

@media only screen and (max-width: $lg) and (min-width: $md) {
    .Hero {
        padding: .25em .5em 10em 4em;

        .hero-main-content {
            padding-top: 1.25em;
            h1 {
                font-size: 6em;
            }

            h2 {
                font-size: 2em;
                width: 50%;
                text-wrap: balance;
            }
        }

        .hero-image {
                object-fit: cover;
                border-top-left-radius: 1em;

                float: right;
                width: 110%;
                height: auto;
                margin-top: 0;
                margin-right: -10em;
                padding-top: 0em;
                margin-top: 2em;
                padding-right: 0;
                border-radius: 1em 0 0 1em;
                object-fit: cover;
        }
    }
}

@media only screen and (max-width: $md) and (min-width: $sm) {
    .Hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em .5em 4em .5em;
        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 1.75em;
            text-wrap: balance;
        }

        button {
            font-size: 1.75em;
        }

        .hero-image {
            float: right;
            width: 110%;
            height: auto;
            margin-top: 0;
            margin-right: -2.15em;
            padding-top: 0em;
            margin-top: 2em;
            padding-right: 0;
            border-radius: 1em 0 0 1em;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: $sm) and (min-width: $xs) {
    .Hero {
        padding: 5em 0em 3em 0em;
        
        h1 {
            font-size: 2.75em;
        }

        h2 {
            font-size: 1em;
            line-height: 1;
        }

        button {
            font-size: 1em;
            svg {
                height: 1em;
                margin-bottom: .15em;
            }
        }

        .hero-image {
            img {
                width: 112%;
                margin-right: -2em;
                padding-top: 1em;
            }
        }
    }
}