.Hero {
    background-color: $dark-teal;
    padding: 5.5em .5em 3em 13em;
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 85vh;
    h1 {
        color: $pink;
        font-family: $main-typeface, sans-serif;
        font-size: 8em;
        font-style: normal;
        font-weight: 700;
        line-height: 1em;
        letter-spacing: -.01em;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: .4em;
    }

    h2 {
        color: $white;
        font-family: $main-typeface, sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 109.091% */
        letter-spacing: 0.66px;
        text-transform: uppercase;
    }


    button {
        background-color: transparent;
        display: inline-flex;
        padding: .85em 1.25em .95em 1.25em;
        justify-content: center;
        position: relative;
        align-items: center;
        border-radius: 1.6em;
        border: 2px solid $pink;
        box-shadow: .2em .2em 0em 0em $pink;
        color: $white;
        width: fit-content;
        text-transform: uppercase;
        line-height: .9em; /* 93.966% */
        letter-spacing: -.001em;
        font-family: $main-typeface, sans-serif;
        font-weight: 300;
        font-size: 1.25em;
        margin-top: 1.65em;
        a {
            width: fit-content;
            color: $white;
            text-decoration: none;
            span {
                margin: 0em 0em 0em .5em;
                position: relative;
                height: auto;
            }
        }

        a:visited {
            text-decoration: none;
        }
    }

    button:hover {
        cursor: pointer;
        box-shadow: none;
        top: .2em;
        left: .2em;

    }

    .attention-getter {
        box-shadow: none;
        top: .2em;
        left: .2em;
    }

    .hero-main-content {
        display: flex;
        flex-direction: column;
        
    }

    .hero-image {
        padding-top: 3em;
        img {
            position: absolute;
            right: 0;
            height: 75%;
            width: auto;
        }
    }
}