html, body {
    overflow-x: hidden;
    margin-bottom: -100em;
}

body {
    font-family: 'Oswald', sans-serif;
    height: fit-content;
}

section {
    padding-top: 4em !important;
}

h4 {
    font-size: 2.5em !important;
}