.Nav {
    z-index: 5;
    position: fixed;
    color: $white;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    justify-content: space-between;
    font-family: $secondary-typeface, sans-serif;
    font-size: 1em;
    border-bottom: 1px solid $pink;
    .nav-container {
        margin: 0 auto;
        padding: .6em 2em;
        a {
            color: $white;
            text-decoration: none;
            padding: .7em 2.75em;
            margin-left: 3em;
            margin-right: 3em;
            transition: all 125ms ease-in-out;
        } 
        
        .active {
            background-color: $pink;
            color: $black;
            font-weight: 800;
        }
    }
}



.nav-purple {
    background-color: $purple;
    .nav-container {
        a:hover {
            background-color: $pink;
            color: $black !important;
        }
    }
}

.nav-light-purple {
    background-color: $light-purple;
}

.nav-white {
    background-color: $white;
}

.nav-pink {
    background-color: $pink;
    border-bottom: 1px solid $purple;
    .active {
        background-color: $peach !important;
    }
    a.nav-link {
        color: $black !important;
        
    }
    a:hover {
        background-color: $peach !important;
        color: $black !important;
    }
}

.nav-black {
    background-color: $black;
}

.nav-dark-teal {
    background-color: $dark-teal;
    a:hover {
        background-color: $pink;
        color: black !important;
    }
}

.nav-peach {
    background-color: $peach;
    .nav-container {
        .active {
            background-color: $dark-teal !important;
            color: $white !important;
        }   
        a {
            color: $dark-teal !important;
            
        }
        a:hover {
            background-color: $dark-teal;
            color: $white !important;
        }   
    }

}

.NavMobile {
    z-index: 5;
    position: fixed;
    color: $white;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    justify-content: space-between;
    font-family: $secondary-typeface, sans-serif;
    font-size: 1em;
    border-bottom: 1px solid $pink;
    .nav-container {
        margin: 0;
        .nav-link-container {
            border-top: 1px solid $pink;
            border-bottom: 1px solid $pink;
        }
        a {
            color: $white;
            text-decoration: none;
            padding: 2em;
            margin: 1em;
            transition: all 125ms ease-in-out;
            width: 100%;
            margin: 0;
        } 
        
        .active {
            background-color: $pink;
            color: $black;
            font-weight: 800;
        }
    }
    .nav-footer {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
         background-color: $dark-teal !important;
        .footer-nav-images {
            padding-top: 2em;
            padding-bottom: 2em;
            img {
                margin: .25em;
                scale: 90%;
            }
        }
        .copyright {
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}

.NavMobile.closed {
    display: flex;
    justify-content: start;
    align-items:  center;
    .menu-toggle {
        background-color: $pink;
        padding: 1em;
    }

    .menu-text {
        padding: 1em;
        font-weight: 800;
    }
}

.closed.nav-peach, .open.nav-peach {
    color: $dark-teal;
}

.open {
    display: flex;
    justify-content: start;
    align-items: center;
    .menu-toggle {
        background-color: $pink;
        padding: .19em;
    }
    .menu-text {
        padding: 1em;
        font-weight: 800;
    }
}