.Nav {
    z-index: 5;
    position: fixed;
    color: $white;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    justify-content: space-between;
    font-family: $secondary-typeface, sans-serif;
    font-size: 1em;
    border-bottom: 1px solid $pink;
    .nav-container {
        margin: 0 auto;
        padding: .6em 2em;
        a {
            color: $white;
            text-decoration: none;
            padding: .7em 2.75em;
            margin-left: 3em;
            margin-right: 3em;
            transition: all 125ms ease-in-out;
        } 
        
        .active {
            background-color: $pink;
            color: $black;
            font-weight: 800;
        }
    }
}



.nav-purple {
    background-color: $purple;
    .nav-container {
        a:hover {
            background-color: $pink;
            color: $black !important;
        }
    }
}

.nav-light-purple {
    background-color: $light-purple;
}

.nav-white {
    background-color: $white;
}

.nav-pink {
    background-color: $pink;
    border-bottom: 1px solid $purple;
    .active {
        background-color: $peach !important;
    }
    a {
        color: $black !important;
        
    }
    a:hover {
        background-color: $peach !important;
        color: $black !important;
    }
}

.nav-black {
    background-color: $black;
}

.nav-dark-teal {
    background-color: $dark-teal;
}

.nav-peach {
    background-color: $peach;
    .nav-container {
        .active {
            background-color: $dark-teal !important;
            color: $white !important;
        }   
        a {
            color: $dark-teal !important;
            
        }
        a:hover {
            background-color: $dark-teal;
            color: $white !important;
        }   
    }

}

.NavMobile {
    position: fixed;
    top: 0;
    z-index: 4;
    .navbar {
        padding-left: 0em .5em;
        background-color: $pink !important;
        button {
            border: none;
            padding: .15em;
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .collapse {
        text-align: left;
        transition: all 120ms ease-in;
        padding-left: .5em;
        .nav-link {
            color: $black;
        }
        .nav-link:hover {
            color: $purple;
        }
    }
}