.Quote {
    background-color: $pink;
    color: $purple;
    height: 100svh;
    width: 100svw;
    .open-and-quote {
        display: flex;
        flex-direction: column;
        padding-top: 9em !important;
        padding-bottom: 2em !important;
        .open-quotation {
            font-size: 17em;
            line-height: 1;
            letter-spacing: -5px;
            transform: rotate(180deg);
            text-align: right;
            color: rgb(255, 255, 255, .3);
            margin: 0 .2em -.75em .3em;
            padding-right: .5em;
        }
        .main-quote {
            margin: 0;
            font-weight: 600;
            text-align: center;
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            flex-direction: row;
            .quote-carousel-item {
                min-width: 100% !important;
                width: 100% !important;
                .quote-content {
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    padding: 2em 1.5em;
                    font-size: 2em;
                    margin: -1.5em auto;
                    width: 50%;
                }
                .quote-author, .quote-author-info {
                    font-family: $secondary-typeface, sans-serif;
                }
                .quote-author {
                    padding-top: 1em;
                    font-weight: 600;
                    font-size: 1em;
                    letter-spacing: .36px;
                    margin-bottom: 0.25em;
                }
                .quote-author-info {
                    font-weight: 400;
                }
            }
        }
    }
    .quote-carousel {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        text-align: center;

        button {
            width: 1.5rem;
            height: 1.5rem;
            margin: .75em 1em;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.1rem;
            border: 3px solid #fff;
            background-color: transparent;
        }

        button.active {
            border: 3px solid #fff;
            background-color: $white;
        }
    }
    .close-quotation{
        margin: -1em .3em 0 .2em;
        font-size: 17em;
        letter-spacing: -5px;
        line-height: 1;
        text-align: right;
        color: rgb(255, 255, 255, .3);
        padding-right: .5em;
        justify-content: end;
        padding-bottom: .5em;
    }
}

@media only screen and (max-width: $md) and (min-width: $sm) {
.Quote {
    height: 95svh;
    font-size: .75em !important;
    .open-and-quote {
        display: flex;
        flex-direction: column;
        .open-quotation {
            margin-bottom: -.15em !important;
            padding-right: 0em !important;
            line-height: 0em;
        }
        .main-quote {
            display: flex;
            flex-direction: column;
            .quote-content {
                text-transform: uppercase;
                width: 100svw;
                font-size: 2em;
                padding: .75em 1em;
            }
            .quote-author {
                font-size: 1.5em !important;
                margin-top: 1.5em !important;
                code {
                    color: $purple;
                }
            }
            .quote-author-info {
                font-size: 1.25em !important;
            }
        }
        .quote-carousel {
            button {
                z-index: 2;
                margin: .75em;
                height: 2.35em
            }
        }
        .close-quotation {
            line-height: 0em;
            padding: 0em !important;
            margin-bottom: .5em;
            margin-top: -.15em;
        }
    }
}
}

@media only screen and (max-width: $sm) and (min-width: $xs) {
    .Quote {
        font-size: .6em !important;
        width: 95svw;
        .open-and-quote {
            .open-quotation {
                text-align: right;
            }
            .main-quote {
                .quote-author {
                    font-size: 1.25em !important;
                }
                .quote-author-info {
                    font-size: 1em !important;
                }
            }
        }
    }
}