.Quote {
    background-color: $pink;
    color: $purple;
    display: flex;
    flex-direction: column;
    .open-and-quote {
        display: flex;
        flex-direction: row;
        padding-top: 1em;
        padding-bottom: 6em;
        .open-quotation {
            font-size: 20em;
            letter-spacing: -5px;
            height: fit-content;
            transform: rotate(180deg);
            text-align: right;
            color: rgb(255, 255, 255, .3);
            margin: 0 .2em 0 .3em;
            padding-right: .5em;
        }
        .main-quote {
            margin: auto 0;
            font-weight: 600;
            padding-top: 1em;
            text-align: center;
            .quote-content {
                text-transform: uppercase;
                letter-spacing: -1px;
                padding: 0 .25em 0 .25em;
                font-size: 2.5em;
                margin: 0;
            }
            .quote-author, .quote-author-info {
                font-family: $secondary-typeface, sans-serif;
            }
            .quote-author {
                padding-top: 1em;
                font-weight: 600;
                font-size: 1em;
                letter-spacing: .36px;
                margin-bottom: 0.25em;
            }
            .quote-author-info {
                font-weight: 400;
            }
        }
    }
    .close-quotation{
        margin: 0 .3em 0 .2em;
        font-size: 20em;
        letter-spacing: -5px;
        text-align: right;
        color: rgb(255, 255, 255, .3);
        padding-top: .8em;
        padding-right: .5em;
        justify-content: end;
    }
}