.Quote {
    background-color: $pink;
    color: $purple;
    display: flex;
    flex-direction: column;
    .open-and-quote {
        display: flex;
        flex-direction: row;
        padding-top: 1em;
        padding-bottom: 6em;
        .open-quotation {
            font-size: 20em;
            letter-spacing: -5px;
            height: fit-content;
            transform: rotate(180deg);
            text-align: right;
            color: rgb(255, 255, 255, .3);
            margin: 0 .2em 0 .3em;
            padding-right: .5em;
        }
        .main-quote {
            margin: auto 0;
            font-weight: 600;
            padding-top: 1em;
            text-align: center;
            .quote-content {
                text-transform: uppercase;
                letter-spacing: -1px;
                padding: 0;
                font-size: 2.5em;
                margin: 0;
            }
            .quote-author, .quote-author-info {
                font-family: $secondary-typeface, sans-serif;
            }
            .quote-author {
                padding-top: 1em;
                font-weight: 600;
                font-size: 1em;
                letter-spacing: .36px;
                margin-bottom: 0.25em;
            }
            .quote-author-info {
                font-weight: 400;
            }
        }
    }
    .quote-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        button {
            border: 2px solid #fff;
            border-radius: 50%;
            height: 1.5em;
            width: 1.5em;
            background-color: transparent;
            margin: .75em 1em;
        }
        button.active {
            background-color: #fff;
        }
    }
    .close-quotation{
        margin: 0 .3em 0 .2em;
        font-size: 20em;
        letter-spacing: -5px;
        text-align: right;
        color: rgb(255, 255, 255, .3);
        padding-top: .8em;
        padding-right: .5em;
        justify-content: end;
    }
}

@media only screen and (max-width: 600px) {
.Quote {
    font-size: .75em !important;
    .open-and-quote {
        display: flex;
        flex-direction: column;
        .open-quotation {
            margin-top: .5em !important;
            margin-bottom: -.15em !important;
            padding-right: 0em !important;
            text-align: right;
            line-height: 0em;
        }
        .main-quote {
            .quote-content {
                padding: 0em 4em !important;
            }
            .quote-author {
                font-size: 1.5em !important;
                margin-top: 1.5em !important;
                code {
                    color: $purple;
                }
            }
            .quote-author-info {
                font-size: 1.25em !important;
            }
        }
        .quote-carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2em;
            button {
                border: 2px solid #fff;
                border-radius: 50%;
                height: 1em;
                width: 1em;
                background-color: transparent;
                margin: .75em;
            }
            button.active {
                background-color: #fff;
            }
        }
        .close-quotation {
            background-color: red;
            line-height: 0em;
            padding: 0em !important;
            margin-bottom: .5em;
            margin-top: -.15em;
        }
    }
}
}