.Resources {
    @include make-container();
    height: fit-content;
    background-color: $peach;
    padding: 5.5em 0em 0em 13em !important;
    color: $dark-teal;
    margin: 0 !important;
    h2 {
        color: $dark-teal;
        font-family: $main-typeface, sans-serif;
        font-size: 5.75em;
        font-style: normal;
        font-weight: 700;
        line-height: .9em; /* 93.966% */
        letter-spacing: -.01em;
        text-transform: uppercase;
        margin-bottom: .4em;
        text-align: left;
        margin-top: 1em;
    }

    h4 {
        text-transform: uppercase;
        margin-bottom: .3em;
    }

    .main-resources {
        // display: grid;
        // align-items: top;
        // justify-content: space-between;
        // margin-right: 7em;
        // grid-template-columns: 
        //     4fr 4fr 4fr;    
        @include make-row();
    }


    .trigger-contact-highlight {
        position: absolute;
        right: 0;
        margin-top: -300px;
        height: 10em;
        width: 5em;
    }
    img {
        position: absolute;
        right: 0;
        margin-top: -200px;
    }
}

@media only screen and (max-width: 600px) {
.Resources {
    padding: 1em 0em 3em 0em !important;

    h2 {
        font-size: 4.5em;
        text-align: center;
    }

    h4 {
        padding: .5em 0em 0em 2em !important;
        font-size: 2em !important;
    }

    .main-resources {
        align-items: center;
        display: flex;
        justify-content: left;
        margin-left: 2em;
    }

    img {
        margin-top: -11em;
        scale: 95%;
        float: right;
        padding-right: 0;
        margin-right: -2em;
    }
}
}