.faq-content-header {
    h4 {
        border-bottom: 1px solid $pink;
        padding-bottom: .5em;
        margin-top: .5em;
        margin-bottom: 0em;
        display: flex;
        justify-content: space-between;
        align-items: center;
         button {
            background-color: transparent;
            border: none;
            padding: 0;
            border-radius: 50%;
            margin: none;
            height: fit-content;
            width: auto;
            display: flex;
            align-items: center;
            text-align: center;
            transition: all 125ms ease-in-out;
            span {
                border: 1px solid $pink;
                border-radius: 50%;
                height: 1em !important;
                width: 1em !important;
                text-align: center;
                display: flex;
                align-items: center;
            }

            span:hover {
                cursor: pointer;
            }
         }
         button:hover {
            background-color: $pink;
         }
    }

    h4:hover {
        cursor: pointer;
    }
}

.faq-topic {
    margin-top: 0em;
    padding: .25em 0em .25em 0em;
    color: $white;
    .faq-q-and-a {
        animation: fadeIn 300ms ease-in both;
        border-bottom: 1px solid $light-purple;
        .faq-question {
            animation: fadeIn 300ms ease-in both;
            .rotate {
                transform: rotate(180deg);
            }
        }
    }
    .faq-q-and-a, .faq-q-and-a-hidden {
        .faq-question {
            text-transform: uppercase;
            padding: .75em 0em .75em 0em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: none;
            font-size: 1.25em;
            transition: all 300ms ease-in-out;
            max-height: fit-content;
            button {
                background-color: transparent;
                border: none;
                padding: 1em .3em 1em 0;
                margin: none;
                width: auto;
                display: flex;
                align-items: center;
                text-align: center;
            }
    
            button:hover {
                cursor: pointer;
            }
        }

        .faq-question:hover {
            cursor: pointer;
        }

        .faq-q-and-a-hidden {
            transition: all 300ms ease-in-out;
            max-height: 0;
        }
    
        .faq-question-hidden {
            animation: fadeOut 400ms ease-in both;
            display: none;
        }
        
        .faq-answer {
            padding-bottom: 1em;
            margin-top: .25em;
            font-size: 1em;
            animation: fadeIn 400ms ease-in both;
            overflow: hidden;
            margin-bottom: 0;
            font-family: $secondary-typeface, sans-serif;
        }
        .faq-answer-hidden {
            max-height: 0;
            overflow: hidden;
        }
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -2%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: $md) and (min-width: $sm) {
    .faq-content-header {
        h4 {
            border-bottom: 1px solid $pink;
            padding-bottom: .5em;
            margin-top: .5em;
            margin-bottom: 0em;
            display: flex;
            justify-content: space-between;
            align-items: center;
             button {
                background-color: transparent;
                border: none;
                padding: 0;
                border-radius: 50%;
                margin: none;
                height: fit-content;
                width: auto;
                display: flex;
                align-items: center;
                text-align: center;
                transition: all 125ms ease-in-out;
                span {
                    border: 1px solid $pink;
                    border-radius: 50%;
                    height: 1em !important;
                    width: 1em !important;
                    text-align: center;
                    display: flex;
                    align-items: center;
                }
    
                span:hover {
                    cursor: pointer;
                }
             }
             button:hover {
                background-color: $pink;
             }
        }
    
        h4:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: $sm) and (min-width: $xs) {

}

