.SingleResourceForm, form {
    .SingleResource {
        min-height: 9em;
        max-height: 9em;
        width: 22em;
        background-color: $white;
        border: 2px solid $dark-teal;
        padding:  1.5em 2em 1.5em 2em;
        margin: 1em 1.5em 3.5em 1.25em;
        border-radius: .85em;
        text-align: left;
        box-shadow: 8px 8px 0px 0px $dark-teal;
        position: relative;
            color: $black !important;

        .resource-link {
            font-family: $secondary-typeface, sans-serif;
            font-size: 1em;
            font-weight: 500;
            color: $black;
        }
        .resource-title {
            font-family: $secondary-typeface, sans-serif;
            font-size: 1.25em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1.5px;
            text-wrap: balance;
            color: $black;
        }
    }
    
    .SingleResource:hover {
        cursor: pointer;
        box-shadow: none;
        top: .2em;
        left: .2em;
    }
}

.SingleResourceFormMobile, form {
    margin: .5em 0em;
  .SingleResource {
    min-height: 9em;
    max-height: 9em;
    width: 10em;
    background-color: $white;
    border: 2px solid $dark-teal;
    padding:  .5em .75em;
    margin: .5em;
    border-radius: .85em;
    text-align: left;
    box-shadow: 8px 8px 0px 0px $dark-teal;
    position: relative;
    color: $black !important;
    .resource-link {
        font-family: $secondary-typeface, sans-serif;
        font-size: .85em;
        font-weight: 500;
    }
    .resource-title {
        font-family: $secondary-typeface, sans-serif;
        font-size: .85em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: .5px;
        text-wrap: balance;
    }
}

  .SingleResource:hover {
      cursor: pointer;
      box-shadow: none;
      top: .2em;
      left: .2em;
  }
}

@media only screen and (max-width: $xl) and (min-width: $lg) {
    .SingleResourceFormMobile, form {
        .SingleResource {
            width: 16em !important;
            .resource-link {
                font-size: .65em !important;
            }
            .resource-title {
                font-size: 1em !important;
            }
        }
    }
}

@media only screen and (max-width: $xl) and (min-width: $lg) {
    .SingleResourceFormMobile, form {
        margin-left: -1em;
        .SingleResource {
            width: 19em !important;
            .resource-link {
                font-size: .65em !important;
            }
            .resource-title {
                font-size: 1em !important;
            }
        }
    }
}

@media only screen and (max-width: $sm) and (min-width: $xs) {
    .SingleResourceFormMobile, form {
        margin: .5em 0em;
      .SingleResource {
        min-height: 7em;
        max-height: 7em;
        width: 7em;
        background-color: $white;
        border: 2px solid $dark-teal;
        padding:  .5em .5em .15em .5em;
        margin: .5em;
        border-radius: .85em;
        text-align: left;
        box-shadow: 8px 8px 0px 0px $dark-teal;
        position: relative;
        color: $black !important;
        .resource-link {
            font-family: $secondary-typeface, sans-serif;
            font-size: .65em;
            font-weight: 500;
        }
        .resource-title {
            font-family: $secondary-typeface, sans-serif;
            font-size: .6em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.25;
            text-wrap: balance;
            display: block;
        }
    }
    
      .SingleResource:hover {
          cursor: pointer;
          box-shadow: none;
          top: .2em;
          left: .2em;
      }
    }
}