.StaticAnswer {
    p.faq-bold {
        font-weight: 700;
    }


    a {
        text-decoration: none;
        color: $pink;
    }
    
    small {
        font-style: italic;
    }

    .faq-answer {
        font-size: 1em;
        overflow: hidden;
        font-family: $secondary-typeface, sans-serif;
     }
}
