@import "variables";

@import 'singleFaq';
@import "faqs";
@import "footer";
@import "hero";
@import "index";
@import "nav";
@import "quote";
@import "resources";
@import "singleResource";
@import "video";